<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.common.msgCenter.dao.MessageTemplateMapper">
  <resultMap id="MessageTemplateMap" type="com.wt.common.msgCenter.model.MessageTemplate">
    <result column="templateId" jdbcType="VARCHAR" property="templateId" />
    <result column="templateName" jdbcType="VARCHAR" property="templateName" />
    <result column="templateContent" jdbcType="VARCHAR" property="templateContent" />
    <result column="templateCode" jdbcType="VARCHAR" property="templateCode"/>
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="createDateTime" jdbcType="TIMESTAMP" property="createDateTime" />
    <result column="changedBy" jdbcType="INTEGER" property="changedBy" />
    <result column="lastUpdate" jdbcType="TIMESTAMP" property="lastUpdate" />
    <result column="deleteFlag" jdbcType="TINYINT" property="deleteFlag" />
  </resultMap>

  <select id="queryAndPaging" parameterType="com.wt.common.core.view.QueryHelper" resultMap="MessageTemplateMap">
    SELECT *
    FROM MessageTemplateT t
    WHERE t.deleteFlag=FALSE
    ORDER BY t.lastUpdate DESC
    LIMIT #{queryHelper.start}, #{queryHelper.size}
  </select>

  <select id="queryAndPagingTotal" resultType="java.lang.Integer">
    SELECT count(*)
    FROM MessageTemplateT
    WHERE deleteFlag = FALSE
  </select>
</mapper>